<input
  onselect={{action "select"}}
  list="{{listId}}"
  placeholder="{{placeholder}}"
  title="{{placeholder}}"
/>
<datalist id={{listId}}>
  {{#each options as |option|}}
    <option value={{option}} onclick={{action "select"}}>
      {{option}}
    </option>
  {{/each}}
</datalist>
{{yield}}
