<div class="container" >
  {{generic-selector
    onSelect=(action "includeOption")
    placeholder="add option"
    listId="include"
    options=model.inclusionOptions
  }}
  {{generic-selector
    onSelect=(action "excludeOption")
    placeholder="remove option"
    listId="exclude"
    options=model.exclusionOptions
  }}
  {{gdal-config-options
      include=include
      exclude=exclude
      remove=(action "unsetOption")
  }}
  {{copy-button}}
  {{outlet}}
</div>
